
.gg-tool{
    position: absolute;
    left: 10px;
    bottom: 40px;
    z-index: 9999;
}

.gg-quests{
    position: absolute;
    left: 60px;
    bottom: 40px;
    z-index: 99999;
    background-color: #DCDCDC;
    padding: 10px;
}

.persoToolbar a.gg-icon{
    font-size: 1rem;
}

.gg-hide{
    display: none;
}