$ionicons-font-path: 'http://code.ionicframework.com/ionicons/2.0.1/fonts';
@import "../node_modules/ionicons/scss/ionicons"; 

//@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";




.gg-tool{
    position: absolute;
    right: 10px;
    top: 120px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    nav{
        display: flex;
        flex-direction: row;
        height: 45px;
        & > a{
            min-width: 45px;
            background-color: #343b43;
            display: flex;
            align-items: center;
            justify-content: center;
            &.selected{
                background-color: #d33016;
            }
        }
    }
}

.gg-tool-title{
    background-color: #ffffff;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 8px 20px 8px 0;
}

.gg-quests{
    position: absolute;
    right: 10px;
    top: 170px;
    z-index: 99999;
    background-color: #ffffff;
    padding: 15px;
    .gg-quests-label{
        color: #d33016;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .gg-quests-content{
        max-width: 340px;
        max-height: 360px;
        overflow: auto;
        dl{
            position: relative;
            padding-bottom: 20px;
        }
        dt{
            margin-bottom: 5px;
        }
        dl:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 1px solid #323232;
            width: 60%;
        }
    }
}

.persoToolbar a.gg-icon{
    font-size: 1rem;
}

.gg-hide{
    display: none;
}

.gg-quests ul{
    list-style-type: none;
    padding-left: 0;
    span{
        display: block;
    }
    nav{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        /*max-height: 100%;*/
        transition: max-height 0.30s ease-out;
        max-height: 0;
        max-width: 200px;
        & > a{
            display: flex;
            flex-direction: row;
            &:before{
                content: '•';
            }
        }
    }
}

.gg-quests-open nav {
    max-height: 500px!important;
}


.gg-quests-cat{
    span{
        font-weight: bold;
        cursor: pointer;
    }
}

